<!DOCTYPE html>
<html lang="mr">
<head>
    <meta charset="UTF-8">

    <title>Admission Form</title>
    <style>
        td{
            text-align: center;
        }
        tr{
            margin-top: 10px;
        }

        /* body{
            font-family: marathi;
        } */


        /* @media print {

            html,
            body {

                width: 225mm;
                height: 950mm;
            }

        } */
    </style>
</head>
<body>
<div >


    <section>
        <div >
            <table border="1" width="100%" style="margin: 0; border-collapse: collapse;">
                <tr>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                    <td  width="1%"></td>
                </tr>
                <tr>
                    <td colspan="100" style="font-family: 'Raleway', sans-serif; text-align: center;">
                        <p>SHIKSHAN PRASARAK SANSTHA'S</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="100" style="font-size: 16px; font-family: 'Archivo Black', sans-serif;">
                        <p><strong>ARTS, D.J. MALPANI COMMERCE & B.N. SARDA SCIENCE COLLEGE (AUTONOMOUS)</strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="100">
                        <p style="font-family: 'Raleway', sans-serif;">A/p.GHULEWADI SANGAMNER</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="100">
                        <hr style="color:black;" style="margin:0px; padding:0px;">
                    </td>
                </tr>
                <tr>
                    <td colspan="15" style="text-align: left; ">
                        Member Id :
                    </td>
                    <td colspan="35" style="text-align: left; ">
                        <strong>28428</strong>
                    </td>
                    <td colspan="50" style="text-align: right; ">
                        Regular Admission Fee Reciept (Confirmed Admission-2023-2024)
                    </td>
                </tr>
                <tr>
                    <td rowspan="5">1</td>
                </tr>

                <tr>    
                    <td colspan="15">
a
                    </td>
                    <td colspan="35">
b
                    </td>
                    <td colspan="15">
c
                    </td>
                    <td colspan="35">
d
                    </td>

                </tr>

                <tr>
                    
                   
                    <!-- <td colspan="14" style="text-align: right;  border: 1px solid #000;">
                        <div>Name :&nbsp;</div>
                        <div>GR/PRN No :&nbsp;</div>
                        <div>Date :&nbsp;</div>
                        <div>Reciept No :&nbsp;</div>
                        <div>Bank Details :&nbsp;</div>
                    </td>
                    <td colspan="27" style="text-align: left;  border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000;">
                        <div><strong>&nbsp;SUYASH POPAT PAWAR</strong></div>
                        <div><strong>&nbsp;174</strong></div>
                        <div><strong>&nbsp;03/07/2023</strong></div>
                        <div><strong>&nbsp;36</strong></div>
                        <div><strong>&nbsp;Cash</strong></div>
                    </td>
                    <td colspan="16" style="text-align: right;  border-top: 1px solid #000; border-bottom: 1px solid #000;">
                        <div><strong>&nbsp;</strong></div>
                        <div><strong>&nbsp;Adm. Form No:</strong></div>
                        <div><strong>&nbsp;Online Reg Id:</strong></div>
                        <div><strong>&nbsp;</strong></div>
                        <div><strong>&nbsp;No:</strong></div>
                    </td>
                    <td colspan="12" style="text-align: left;  border-top: 1px solid #000; border-bottom: 1px solid #000;">
                        <div><strong>&nbsp;</strong></div>
                        <div><strong>&nbsp;123456</strong></div>
                        <div><strong>&nbsp;1234567890</strong></div>
                        <div><strong>&nbsp;</strong></div>
                        <div><strong>&nbsp;1234567890</strong></div>
                    </td>
                    <td colspan="15" style="text-align: right;  border: 1px solid #000;">
                        <div>Class :&nbsp;</div>
                        <div>Division Type :&nbsp;</div>
                        <div>Roll No :&nbsp;</div>
                        <div>Division :&nbsp;</div>
                        <div>Fee Category :&nbsp;</div>
                    </td>
                    <td colspan="16" style="text-align: left;  border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;border-bottom: 1px solid #000;">
                        <div style="font-size: 13px;"><strong>&nbsp;MCS - II (Credit)</strong></div>
                        <div style="font-size: 13px;"><strong>&nbsp;NON - GRANT</strong></div>
                        <div><strong>&nbsp;1</strong></div>
                        <div><strong>&nbsp;A</strong></div>
                        <div><strong>&nbsp;PAYING</strong></div>
                    </td> -->
                </tr>
                <tr>
                    <td colspan="100" style="border-left: 1px solid #000; border-right: 1px solid #000;">

                    </td>
                </tr>
                <tr>
                    <td colspan="100" style="border-right: 1px solid #000; border-left: 1px solid #000;">

                    </td>
                </tr>
                <tr>
                 <td colspan="15" style="text-align: left; border-left: 1px solid #000;">
                    <div>Arrears of</div>
                    <div>Admission</div>
                    <div>Ashwamedh con</div>
                    <div>Computerization</div>
                    <div>Credit Ststem</div>
                    <div>Sport Fund</div>
                    <div>Development</div>
                    <div>Disaster Manage</div>
                    <div>Eligibility</div>
                    <div>Eligibility For</div>
                    <div>GYMKHANA</div>
                    <div>Lab. equipment</div>
                 </td>
                 <td colspan="10" style="text-align: left;">
                    <div><strong>13395</strong></div>
                    <div><strong>300</strong></div>
                    <div><strong>75</strong></div>
                    <div><strong>1000</strong></div>
                    <div><strong>50</strong></div>
                    <div><strong>20</strong></div>
                    <div><strong>100</strong></div>
                    <div><strong>14550</strong></div>
                    <div><strong>10</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>500</strong></div>
                    <div><strong>0</strong></div>
                 </td>
                 <td colspan="18" style="text-align: left;">
                    <div>Laboratory</div>
                    <div>Library</div>
                    <div>PG Registration</div>
                    <div>Students Activi</div>
                    <div>SAF</div>
                    <div>Student Secu in</div>
                    <div>Student Welfar</div>
                    <div>Tution</div>
                    <div>NSS</div>
                    <div>Seminar / Works</div>
                    <div>Maintenance</div>
                    <div>Medical Examina</div>
                 </td>
                 <td colspan="10" style="text-align: left;">
                    <div><strong>13395</strong></div>
                    <div><strong>300</strong></div>
                    <div><strong>75</strong></div>
                    <div><strong>1000</strong></div>
                    <div><strong>50</strong></div>
                    <div><strong>20</strong></div>
                    <div><strong>100</strong></div>
                    <div><strong>14550</strong></div>
                    <div><strong>10</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>500</strong></div>
                    <div><strong>0</strong></div>
                 </td>
                 <td colspan="15" style="text-align: left;">
                    <div>***</div>
                    <div>* * *</div>
                    <div>Arrears of Fee</div>
                    <div>Arrears of T Fe</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                 </td>
                 <td colspan="10" style="text-align: left;">
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                 </td>
                 <td colspan="15" style="text-align: left;">
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                    <div>* * *</div>
                 </td>
                 <td colspan="7" style="text-align: left; border-right: 1px solid #000;">
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                    <div><strong>0</strong></div>
                 </td>
                </tr>
                <tr>
                    <td colspan="100" style="border-left: 1px solid #000; border-right: 1px solid #000;">

                    </td>
                </tr>
                <tr>
                    <td colspan="100" style="border-right: 1px solid #000; border-left: 1px solid #000;">

                    </td>
                </tr>
                <tr>
                    <td colspan="15" style="text-align: left; border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: 1px solid #000;">
                        Fees In Words :
                    </td>
                    <td colspan="30" style="text-align: left; border-top: 1px solid #000; border-bottom: 1px solid #000;">
                        <strong>Rupees Thirty Thousand Only</strong>
                    </td>
                    <td colspan="30" style="text-align: right; border-top: 1px solid #000; border-bottom: 1px solid #000;">
                        Paid Fee :
                    </td>
                    <td colspan="25" style="text-align: center; border-top: 1px solid #000; border-bottom: 1px solid #000; border-right: 1px solid #000;">
                        <strong>30000 /-</strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="30" style="text-align: left; border-left: 1px solid #000; border-bottom: 1px solid #000;">
                        Total Pending Fee Till Date :
                    </td>
                    <td colspan="70" style="text-align: left; border-right: 1px solid #000; border-bottom: 1px solid #000;">
                        <strong>20005 /-</strong>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>
</body>
</html>
